{% set title = "Модалки" %}
{% set bodyClass = "modals" %}
{% extends "html/layouts/default.html" %}
{% block content %}


<div style="background: #aeaeae; width: 100%; height: 100vh; padding: 50px; display: grid; gap: 50px;">


  <div class="modals-kid__box">
    <div class="modals-kid__title-wrapper">
      <h2 class="modals-kid__title modals-kid__title">
        Молитвы о детях
      </h2>
      <button class="modals-kid__close">
        <img src="assets/img/close.svg">
      </button>
    </div>
    <div class="modals modals-kid">
      <div class="modals-kid__list">
        <a href="" class="modals-kid__link">
          О даровании детей
        </a>
        <a href="" class="modals-kid__link">
          О ЗДОРОВЬЕ ДЕТЕЙ
        </a>
        <a href="" class="modals-kid__link">
          О БЛАГОПОЛУЧИИ ДЕТЕЙ
        </a>
        <a href="" class="modals-kid__link">
          Об успехах в учебе
        </a>
      </div>
      <img class="modals-kid__img" src="assets/img/img7-min.jpeg" alt="">
    </div>


  </div>




</div>

{% endblock %}