{% set title = "Молитвы к святым" %}
{% set bodyClass = "is-main-saint" %}

{% extends "html/layouts/default.html" %}

{% block content %}

<section class="main__block saint">
  <div class="container">
    <h2 class="title">
      Молитвы к святым
    </h2>


    <div class="main__list">


      <a href="" class="main__item-link">
        <p class="main__item-title">
          Ко Господу <br><br>
        </p>
        <div class="main__item-img ">
          <img src="assets/img/img8.jpg" alt="Утренние
            молитвы">
        </div>
      </a>

      <a href="" class="main__item-link">
        <p class="main__item-title">
          Пресвятой <br>
          Богородице
        </p>
        <div class="main__item-img">
          <img src="assets/img/img9.jpg" alt="Утренние
            молитвы">
        </div>
      </a>

      <a href="" class="main__item-link">
        <p class="main__item-title">
          Ангелу <br>
          Хранителю
        </p>
        <div class="main__item-img">
          <img src="assets/img/img10.jpg" alt="Утренние
            молитвы">
        </div>
      </a>
      <a href="" class="main__item-link">
        <p class="main__item-title">
          Спиридону<br>
          Тримифунтскому
        </p>
        <div class="main__item-img">
          <img src="assets/img/img11.jpg" alt="Утренние
            молитвы">
        </div>
      </a>

      <a href="" class="main__item-link">
        <p class="main__item-title">
          Спиридону<br>
          Тримифунтскому
        </p>
        <div class="main__item-img">
          <img src="assets/img/img11.jpg" alt="Утренние
            молитвы">
        </div>
      </a>

      <a href="" class="main__item-link">
        <p class="main__item-title">
          Спиридону<br>
          Тримифунтскому
        </p>
        <div class="main__item-img">
          <img src="assets/img/img11.jpg" alt="Утренние
            молитвы">
        </div>
      </a>

      <a href="" class="main__item-link">
        <p class="main__item-title">
          Спиридону<br>
          Тримифунтскому
        </p>
        <div class="main__item-img">
          <img src="assets/img/img11.jpg" alt="Утренние
            молитвы">
        </div>
      </a>


    </div>
  </div>
</section>


{% endblock %}