{% set title = "Модалки" %}
{% set bodyClass = "modals-all" %}
{% extends "html/layouts/default.html" %}
{% block content %}

<div class="modals__box">


  <!-- <img class="modals__img" src="assets/img/modal-img.jpg"> -->


  <div class="modals__content-box">
    <button class="modals__img-box modals__close">
      <img src="assets/img/close2.svg">
    </button>
    <p class="modals__content-title">
      Молебен к МАТРОНЕ
      МОСКОВСКОЙ
    </p>
    <div class="modals__scroll">
      <ul class="modals__content-list">

        <li class="modals__content-item">
          <p class="modals__content-link">
            отр. Анастасии
          </p>
        </li>
        <li class="modals__content-item">
          <p class="modals__content-link">
            отр. Анастасии
          </p>
        </li>
        <li class="modals__content-item">
          <p class="modals__content-link">
            отр. Кирилла
          </p>
        </li>
        <li class="modals__content-item">
          <p class="modals__content-link">
            отр. Анастасии
          </p>
        </li>
        <li class="modals__content-item">
          <p class="modals__content-link">
            отр. Кирилла
          </p>
        </li>
        <li class="modals__content-item">
          <p class="modals__content-link">
            отр. Анастасии
          </p>
        </li>
        <li class="modals__content-item">
          <p class="modals__content-link">
            отр. Кирилла
          </p>
        </li>
        <li class="modals__content-item">
          <p class="modals__content-link">
            отр. Анастасии
          </p>
        </li>
        <li class="modals__content-item">
          <input id="modals-input-name" class="profile__password modals-input-red" type="text"
            placeholder="Добавить имя">
        </li>
        <label for="modals-input-name" class="modals-input-red__span">Имя пишется в Родительном падеже</label>
      </ul>
    </div>
  </div>
  <div class="modals__btn-box">
    <p class="modals__btn-price">
      0 <span>P</span>
    </p>
    <button disabled type="submit" class="modals__btn">
      ПЕРЕЙТИ К ОПЛАТЕ
    </button>
  </div>
  <footer class="footer modals__footer">
    <div>
      <div class="container-flex">


        <div class="footer__box">
          <nav class="footer__nav">
            <div class="footer__nav-item">
              <a href="" class="footer__link">
                МОЛИТВЫ В РАЗЛИЧНЫХ НУЖДАХ
              </a>
            </div>
            <div class="footer__nav-item center">
              <a href="" class="footer__link">
                МОЛИТВЫ К СВЯТЫМ
              </a>
            </div>
            <div class="footer__nav-item">
              <a href="" class="footer__link">
                МОЛИТВЫ НА КАЖдЫЙ ДЕНЬ
              </a>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </footer>
</div>

{% endblock %}