{% set title = "Модалки" %}
{% set bodyClass = "modals-all" %}
{% extends "html/layouts/default.html" %}
{% block content %}

<div class="modals__box">

  <div class="modals__img-box">
    <img class="modals__img" src="assets/img/modal-img.jpg">
    <button class="modals__close">
      <img src="assets/img/close2.svg">
    </button>
  </div>
  <div class="modals__content-box">
    <p class="modals__content-title">
      Молебен к святому
    </p>
    <div class="modals__scroll">
      <ul class="modals__content-list">
        <li class="modals__content-item">
          <a href="" class="modals__content-link">
            отр. Анастасии
          </a>
        </li>
        <li class="modals__content-item">
          <a href="" class="modals__content-link">
            отр. Анастасии
          </a>
        </li>
        <li class="modals__content-item">
          <a href="" class="modals__content-link">
            отр. Кирилла
          </a>
        </li>
        <li class="modals__content-item">
          <a href="" class="modals__content-link">
            отр. Анастасии
          </a>
        </li>
        <li class="modals__content-item">
          <a href="" class="modals__content-link">
            отр. Кирилла
          </a>
        </li>
        <li class="modals__content-item">
          <a href="" class="modals__content-link">
            отр. Анастасии
          </a>
        </li>
        <li class="modals__content-item">
          <a href="" class="modals__content-link">
            отр. Кирилла
          </a>
        </li>
        <li class="modals__content-item">
          <a href="" class="modals__content-link">
            отр. Анастасии
          </a>
        </li>
        <li class="modals__content-item">
          <a href="" class="modals__content-link">
            отр. Анастасии
          </a>
        </li>

      </ul>
    </div>
  </div>
  <div class="modals__btn-box">
    <button class="modals__btn">
      ПЕРЕЙТИ К ОПЛАТЕ
    </button>
  </div>
  <footer class="footer modals__footer">
    <div>
      <div class="container-flex">


        <div class="footer__box">
          <nav class="footer__nav">
            <div class="footer__nav-item">
              <a href="" class="footer__link">
                МОЛИТВЫ В РАЗЛИЧНЫХ НУЖДАХ
              </a>
            </div>
            <div class="footer__nav-item center">
              <a href="" class="footer__link">
                МОЛИТВЫ К СВЯТЫМ
              </a>
            </div>
            <div class="footer__nav-item">
              <a href="" class="footer__link">
                МОЛИТВЫ НА КАЖдЫЙ ДЕНЬ
              </a>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </footer>
</div>

{% endblock %}