{% set title = "Главная" %}
{% set bodyClass = "is-main" %}

{% extends "html/layouts/default.html" %}

{% block content %}

<section class="banner">
  <div class="container">
    <div class="banner__box">
      <p class="banner__date">
        сегодня, 20 октября
      </p>
      <h1 class="banner__title">
        День памяти <br>
        Спиридона Тримифунтского
      </h1>
      <button class="button banner__btn">
        заказать молебен
      </button>
    </div>
  </div>
</section>

<section class="main__block first">
  <div class="container">
    <h2 class="title">
      Молитвы на каждый день
    </h2>

    <ul class="main__list">
      <li class="main__item">
        <a href="" class="main__item-link">
          <p class="main__item-title">
            Утренние <br>
            молитвы
          </p>
          <div class="main__item-img">
            <img src="assets/img/img1.jpg" alt="Утренние
            молитвы">
          </div>
        </a>
      </li>
      <li class="main__item">
        <a href="" class="main__item-link">
          <p class="main__item-title">
            Молитвы<br>
            в течение дня
          </p>
          <div class="main__item-img">
            <img src="assets/img/img2.jpg" alt="Утренние
            молитвы">
          </div>
        </a>
      </li>
      <li class="main__item">
        <a href="" class="main__item-link">
          <p class="main__item-title">
            Вечерние<br>
            молитвы
          </p>
          <div class="main__item-img">
            <img src="assets/img/img3.jpg" alt="Утренние
            молитвы">
          </div>
        </a>
      </li>
      <li class="main__item">
        <a href="" class="main__item-link">
          <p class="main__item-title">
            Чтение<br>
            Псалтири
          </p>
          <div class="main__item-img">
            <img src="assets/img/img4.jpg" alt="Утренние
            молитвы">
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>


<section class="main__block">
  <div class="container-flex">



    <div class="swiper swiper-main-big">
      <h2 class="title">
        Молитвы в различных нуждах
      </h2>

      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <a href="" class="main__item-link">
            <p class="main__item-title">
              Молитвы <br>
              о здоровье
            </p>
            <div class="main__item-img ">
              <img src="assets/img/img5.jpg" alt="Утренние
              молитвы">
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="" class="main__item-link">
            <p class="main__item-title">
              Молитвы <br>
              о семье
            </p>
            <div class="main__item-img">
              <img src="assets/img/img6.jpg" alt="Утренние
              молитвы">
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="" class="main__item-link main__item-link--big">
            <p class="main__item-title">
              Молитвы <br>
              о детях
            </p>
            <div class="main__item-img">
              <img src="assets/img/img7.jpg" alt="Утренние
              молитвы">
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="" class="main__item-link">
            <p class="main__item-title">
              Утренние <br>
              молитвы
            </p>
            <div class="main__item-img">
              <img src="assets/img/img1.jpg" alt="Утренние
              молитвы">
            </div>
          </a>
        </div>

      </div>

      <div class="swiper-main-big__swiper-button-prev swiper-button-prev"></div>
      <div class="swiper-main-big__swiper-button-next swiper-button-next"></div>

    </div>
  </div>


</section>






{% endblock %}