{% set title = "Молитвы на каждый день" %}
{% set bodyClass = "is-main" %}

{% extends "html/layouts/default.html" %}

{% block content %}

<section class="every-day">
  <div class="container">
    <h2 class="title">
      Молитвы на каждый день
    </h2>
    <div class="every-day__box">

      <button class="header__mobile-btn">
        Утренние молитвы
        <img src="../../assets/img/galka.svg">
      </button>
      <div class="tab">
        <div class="tab__content" id="content-1">

          <p class="every-day__tab-title">
            Утренние молитвы
          </p>

          <div class="every-day__content-box">
            <ul class="every-day__tab-list">
              <li class="every-day__tab-item">
                <p class="every-day__tab-item-title">
                  Начало
                </p>
                <div class="every-day__tab-text-box">
                  <p class="every-day__tab-item-text">
                    Востав от сна, прежде всякого другого дела, стань благоговейно, представляя
                    себя пред Всевидящим Богом и, совершая крестное знамение, произнеси:
                  </p>

                  <p class="every-day__tab-item-text italic">
                    Во и́мя Отцá, и Сы́на, и Святáго Ду́ха. Ами́нь.
                  </p>

                  <p class="every-day__tab-item-text">
                    Затем немного подожди, пока все чувства твои не придут в тишину и мысли
                    твои не оставят все земное, и тогда произноси следующие молитвы,
                    без поспешности и со вниманием сердечным.
                  </p>
                </div>

                <div class="every-day__tab-decoration">
                  <img src="assets/img/year.svg">
                </div>

              </li>
              <li class="every-day__tab-item">
                <p class="every-day__tab-item-title">
                  Молитва мытаря
                </p>
                <div class="every-day__tab-text-box">


                  <p class="every-day__tab-item-text italic">
                    Бóже, ми́лостив бу́ди мне грéшному. <span class="every-day__tab-item-text">(Поклон)</span>
                  </p>


                </div>

                <div class="every-day__tab-decoration">
                  <img src="assets/img/year.svg">
                </div>

              </li>
            </ul>

          </div>
        </div>
        <div class="tab__content" id="content-2">

          <p class="every-day__tab-title">
            Утренние молитвы
          </p>

          <div class="every-day__content-box">
            <ul class="every-day__tab-list">
              <li class="every-day__tab-item">
                <p class="every-day__tab-item-title">
                  Начало
                </p>
                <div class="every-day__tab-text-box">
                  <p class="every-day__tab-item-text">
                    Востав от сна, прежде всякого другого дела, стань благоговейно, представляя
                    себя пред Всевидящим Богом и, совершая крестное знамение, произнеси:
                  </p>

                  <p class="every-day__tab-item-text italic">
                    Во и́мя Отцá, и Сы́на, и Святáго Ду́ха. Ами́нь.
                  </p>

                  <p class="every-day__tab-item-text">
                    Затем немного подожди, пока все чувства твои не придут в тишину и мысли
                    твои не оставят все земное, и тогда произноси следующие молитвы,
                    без поспешности и со вниманием сердечным.
                  </p>
                </div>

                <div class="every-day__tab-decoration">
                  <img src="assets/img/year.svg">
                </div>

              </li>
              <li class="every-day__tab-item">
                <p class="every-day__tab-item-title">
                  Молитва мытаря
                </p>
                <div class="every-day__tab-text-box">


                  <p class="every-day__tab-item-text italic">
                    Бóже, ми́лостив бу́ди мне грéшному. <span class="every-day__tab-item-text">(Поклон)</span>
                  </p>


                </div>

                <div class="every-day__tab-decoration">
                  <img src="assets/img/year.svg">
                </div>

              </li>
            </ul>

          </div>
        </div>
        <div class="tab__content" id="content-3">

          <p class="every-day__tab-title">
            Утренние молитвы
          </p>

          <div class="every-day__content-box">
            <ul class="every-day__tab-list">
              <li class="every-day__tab-item">
                <p class="every-day__tab-item-title">
                  Начало
                </p>
                <div class="every-day__tab-text-box">
                  <p class="every-day__tab-item-text">
                    Востав от сна, прежде всякого другого дела, стань благоговейно, представляя
                    себя пред Всевидящим Богом и, совершая крестное знамение, произнеси:
                  </p>

                  <p class="every-day__tab-item-text italic">
                    Во и́мя Отцá, и Сы́на, и Святáго Ду́ха. Ами́нь.
                  </p>

                  <p class="every-day__tab-item-text">
                    Затем немного подожди, пока все чувства твои не придут в тишину и мысли
                    твои не оставят все земное, и тогда произноси следующие молитвы,
                    без поспешности и со вниманием сердечным.
                  </p>
                </div>

                <div class="every-day__tab-decoration">
                  <img src="assets/img/year.svg">
                </div>

              </li>
              <li class="every-day__tab-item">
                <p class="every-day__tab-item-title">
                  Молитва мытаря
                </p>
                <div class="every-day__tab-text-box">


                  <p class="every-day__tab-item-text italic">
                    Бóже, ми́лостив бу́ди мне грéшному. <span class="every-day__tab-item-text">(Поклон)</span>
                  </p>


                </div>

                <div class="every-day__tab-decoration">
                  <img src="assets/img/year.svg">
                </div>

              </li>
            </ul>

          </div>
        </div>
        <div class="tab__content" id="content-4">

          <p class="every-day__tab-title">
            Утренние молитвы
          </p>

          <div class="every-day__content-box">
            <ul class="every-day__tab-list">
              <li class="every-day__tab-item">
                <p class="every-day__tab-item-title">
                  Начало
                </p>
                <div class="every-day__tab-text-box">
                  <p class="every-day__tab-item-text">
                    Востав от сна, прежде всякого другого дела, стань благоговейно, представляя
                    себя пред Всевидящим Богом и, совершая крестное знамение, произнеси:
                  </p>

                  <p class="every-day__tab-item-text italic">
                    Во и́мя Отцá, и Сы́на, и Святáго Ду́ха. Ами́нь.
                  </p>

                  <p class="every-day__tab-item-text">
                    Затем немного подожди, пока все чувства твои не придут в тишину и мысли
                    твои не оставят все земное, и тогда произноси следующие молитвы,
                    без поспешности и со вниманием сердечным.
                  </p>
                </div>

                <div class="every-day__tab-decoration">
                  <img src="assets/img/year.svg">
                </div>

              </li>
              <li class="every-day__tab-item">
                <p class="every-day__tab-item-title">
                  Молитва мытаря
                </p>
                <div class="every-day__tab-text-box">


                  <p class="every-day__tab-item-text italic">
                    Бóже, ми́лостив бу́ди мне грéшному. <span class="every-day__tab-item-text">(Поклон)</span>
                  </p>


                </div>

                <div class="every-day__tab-decoration">
                  <img src="assets/img/year.svg">
                </div>

              </li>
            </ul>

          </div>
        </div>

        <div class="tab__nav">

          <input class="input-layout" id="tab-btn-1" name="tab-btn" type="radio" checked value="">
          <label class="modal__table-title" for="tab-btn-1">Утренние молитвы</label>

          <input class="input-layout" id="tab-btn-2" name="tab-btn" type="radio" value="">
          <label class="modal__table-title" for="tab-btn-2">В течении дня</label>

          <input class="input-layout" id="tab-btn-3" name="tab-btn" type="radio" value="">
          <label class="modal__table-title" for="tab-btn-3">вечерние молитвы</label>

          <input class="input-layout" id="tab-btn-4" name="tab-btn" type="radio" value="">
          <label class="modal__table-title" for="tab-btn-4">Псалтырь</label>
        </div>
      </div>

    </div>

    <div class="texts__btns">
      <div class="texts__btns-size-box ">
        <button class="texts__btns-size top">
          <img src="assets/img/A.svg">
          <p class="texts__btns-size-text">
            увеличить
          </p>
        </button>
        <button class="texts__btns-size bottom">
          <img src="assets/img/A-.svg">
          <p class="texts__btns-size-text">
            Уменьшить
          </p>
        </button>
      </div>
    </div>
  </div>
</section>



{% endblock %}