{% set title = "Праздники" %}
{% set bodyClass = "is-holidays" %}

{% extends "html/layouts/default.html" %}

{% block content %}


<section class="holidays">
	<div class="container">
		<h2 class="title">
			Главные церковные праздники
		</h2>

		<button class="header__mobile-btn">
			Октябрь
			<img src="../../assets/img/galka.svg">
		</button>
		<!-- Октябрь -->
		<div class="holidays__content-box">
			<p class="holidays__content-title">
				Октябрь
			</p>


			<ul class="holidays__content-list">


				<li class="holidays__content-item-box">
					<div class="holidays__content-item-date">
						24
					</div>
					<div class="main__item-link holidays__content-item">
						<p class="main__item-title">
							Преставление
							апостола Иоанна
							Богослова
						</p>
						<div class="main__item-img ">
							<img src="assets/img/img12.jpg" alt="Утренние
					молитвы">
						</div>
						<button class="holidays__content-btn">
							Заказать молебен
						</button>
					</div>
				</li>
				<li class="holidays__content-item-box">
					<div class="holidays__content-item-date">
						24
					</div>
					<div class="main__item-link holidays__content-item">
						<p class="main__item-title">
							Покров Пресвятой
							Богородицы
						</p>
						<div class="main__item-img ">
							<img src="assets/img/img13.jpg" alt="Утренние
					молитвы">
						</div>
						<button class="holidays__content-btn">
							Заказать молебен
						</button>
					</div>
				</li>
				<li class="holidays__content-item-box">
					<div class="holidays__content-item-date">
						24
					</div>
					<div class="main__item-link holidays__content-item">
						<p class="main__item-title">
							Дмитриевская
							родительская суббота
						</p>
						<div class="main__item-img ">
							<img src="assets/img/img14.jpg" alt="Утренние
					молитвы">
						</div>
						<button class="holidays__content-btn">
							Заказать молебен
						</button>
					</div>
				</li>
				<li class="holidays__content-item-box">
					<div class="holidays__content-item-date">
						24
					</div>
					<div class="main__item-link holidays__content-item">
						<p class="main__item-title">
							Апостола
							и евангелиста Луки
						</p>
						<div class="main__item-img ">
							<img src="assets/img/img15.jpg" alt="Утренние
					молитвы">
						</div>
						<button class="holidays__content-btn">
							Заказать молебен
						</button>
					</div>
				</li>

			</ul>
		</div>
		<!-- Ноябрь -->
		<div class="holidays__content-box">
			<p class="holidays__content-title">
				Ноябрь
			</p>


			<ul class="holidays__content-list">


				<li class="holidays__content-item-box">
					<div class="holidays__content-item-date">
						24
					</div>
					<div class="main__item-link holidays__content-item">
						<p class="main__item-title">
							Преставление
							апостола Иоанна
							Богослова
						</p>
						<div class="main__item-img ">
							<img src="assets/img/img12.jpg" alt="Утренние
					молитвы">
						</div>
						<button class="holidays__content-btn">
							Заказать молебен
						</button>
					</div>
				</li>
				<li class="holidays__content-item-box">
					<div class="holidays__content-item-date">
						24
					</div>
					<div class="main__item-link holidays__content-item">
						<p class="main__item-title">
							Покров Пресвятой
							Богородицы
						</p>
						<div class="main__item-img ">
							<img src="assets/img/img13.jpg" alt="Утренние
					молитвы">
						</div>
						<button class="holidays__content-btn">
							Заказать молебен
						</button>
					</div>
				</li>

			</ul>
		</div>
		<!-- дЕКАБРЬ -->
		<div class="holidays__content-box">
			<p class="holidays__content-title">
				Декабрь
			</p>


			<ul class="holidays__content-list">


				<li class="holidays__content-item-box">
					<div class="holidays__content-item-date">
						24
					</div>
					<div class="main__item-link holidays__content-item">
						<p class="main__item-title">
							Преставление
							апостола Иоанна
							Богослова
						</p>
						<div class="main__item-img ">
							<img src="assets/img/img12.jpg" alt="Утренние
					молитвы">
						</div>
						<button class="holidays__content-btn">
							Заказать молебен
						</button>
					</div>
				</li>


			</ul>
		</div>

		<div class="holidays__years-box">
			<div class="holidays__years">
				2023
			</div>
			<div class="holidays__years-img">
				<img class="svg" src="assets/img/year.svg">
			</div>
			<div class="holidays__years">
				2024
			</div>
		</div>

		<div class="holidays__content-box">
			<p class="holidays__content-title">
				Ноябрь
			</p>


			<ul class="holidays__content-list">


				<li class="holidays__content-item-box">
					<div class="holidays__content-item-date">
						24
					</div>
					<div class="main__item-link holidays__content-item">
						<p class="main__item-title">
							Преставление
							апостола Иоанна
							Богослова
						</p>
						<div class="main__item-img ">
							<img src="assets/img/img12.jpg" alt="Утренние
					молитвы">
						</div>
						<button class="holidays__content-btn">
							Заказать молебен
						</button>
					</div>
				</li>
				<li class="holidays__content-item-box">
					<div class="holidays__content-item-date">
						24
					</div>
					<div class="main__item-link holidays__content-item">
						<p class="main__item-title">
							Покров Пресвятой
							Богородицы
						</p>
						<div class="main__item-img ">
							<img src="assets/img/img13.jpg" alt="Утренние
					молитвы">
						</div>
						<button class="holidays__content-btn">
							Заказать молебен
						</button>
					</div>
				</li>

			</ul>
		</div>
	</div>
</section>


{% endblock %}