{% set title = "Молитвы к святым " %}
{% set bodyClass = "is-prayer" %}

{% extends "html/layouts/default.html" %}

{% block content %}




<section class="player">
  <div class="container">
    <div class="navigation__box">
      <a href="" class="navigation__link">
        <img src="assets/img/nav-arrow.svg">
        <p>
          Молитвы к святым
        </p>
      </a>
    </div>
    <div class="banner__box">
      <h2 class="banner__title">
        Молитва<br>
        Спиридону Тримифунтскому
      </h2>
      <div class="player__text-box">
        <p class="player__text">
          Пастух с Кипра, аскет и доброй души человек, он был избран народом
          епископом и принял участие в I Вселенском Соборе. Бог наделил
          его даром исцеления больных, воскрешения мертвых
          и управления стихиями...
        </p>
      </div>

      <button class="player__btn-more">
        читать подробнее
      </button>
      <div class="player__text-box player__hidden d-n">
        <p class="player__text">
          Незрячая с рождения, она обладала даром прозорливости – духовным
          зрением. По молитвам праведницы люди исцелялись от тяжких недугов.
          А своими советами матушка Матрона помогла преодолеть житейские
          скорби тысячам приходящих к ней людей.
        </p>
        <p class="player__text-title">
          О чем молятся святому:
        </p>
        <div class="player__list">
          <p class="player__item-text">
            Поиск спутника жизни
          </p>
          <p class="player__item-text">
            О даровании детей
          </p>
          <p class="player__item-text">
            О благополучии в семье, сохранении брака
          </p>
          <p class="player__item-text">
            Житейские нужды
          </p>
          <p class="player__item-text">
            О воинах, защитниках Отечества и о возвращении находящихся в плену
          </p>
        </div>
      </div>
    </div>
    <img class="player__banner" src="assets/img/banner2.jpg">
  </div>

</section>


<section class="texts">
  <div class="container">

    <div class="texts__box">
      <button id="index3" class="texts__mobile-btn">
        Молитва первая
        <img src="assets/img/galka.svg">
      </button>

      <div class="texts__mobile-btn-box d-n">
        <div class="header__mobile-btn-list">
          <a href="" class="header__mobile-btn-link">
            О даровании детей
          </a>
          <a href="" class="header__mobile-btn-link">
            О здоровье детей
          </a>
          <a href="" class="header__mobile-btn-link">
            О благополучии детей
          </a>
          <a href="" class="header__mobile-btn-link">
            Об успехах в учебе
          </a>
        </div>
      </div>




      <div class="tab">
        <div class="tab__content" id="content-1">

          <p class="tab__content-text">
            О, всеблаженный святитель Спиридон, великий служитель Христов
            и преславный чудотворец! Предстоя на небесах престолу Божию с сонмами
            Ангелов, воззри милостивым оком на предстоящих здесь людей и просящих
            сильной твоей помощи. Умоли милосердие Человеколюбца Бога, да не осудит
            Он нас по беззакониям нашим, но да сотворит с нами по милости Своей!
            Испроси нам у Христа и Бога нашего мирное и безмятежное житие, здравие
            душевное и телесное, земли плодородие и во всем всякое изобилие
            и благоденствие, и да не обратим даруемые нам от щедрого Бога блага во зло,
            но во славу Его и в прославление твоего заступничества! Избавь всех,
            с верою чуждою сомнений, к Богу приходящих от всяких бед душевных
            и телесных. от всех томлений и диавольских наветов! Будь для печальных
            утешителем, для недужных – врачом, в напастях помощником, нагим
            – покровителем, вдовам – заступником, сиротам – защитником, младенцам
            – питателем, старым – укреплением, странствующим – путеводителем,
            плавающим – кормчим, и испроси всем, в крепкой помощи твоей нуждающимся
            всё, что для спасения полезно! Чтобы твоими молитвами наставляемые
            и сохраняемые, достигли мы вечного покоя и вместе с тобою прославили Бога,
            в Троице Святой славимого, Отца и Сына и Святого Духа, ныне, и всегда
            и во веки веков. Аминь.
          </p>

        </div>
        <div class="tab__content" id="content-2">
          <p class="tab__content-text">
            О, всеблаженный святитель Спиридон, великий служитель Христов
            и преславный чудотворец! Предстоя на небесах престолу Божию с сонмами
            Ангелов, воззри милостивым оком на предстоящих здесь людей и просящих
            сильной твоей помощи. Умоли милосердие Человеколюбца Бога, да не осудит
            Он нас по беззакониям нашим, но да сотворит с нами по милости Своей!
            Испроси нам у Христа и Бога нашего мирное и безмятежное житие, здравие
            душевное и телесное, земли плодородие и во всем всякое изобилие
            и благоденствие, и да не обратим даруемые нам от щедрого Бога блага во зло,
            но во славу Его и в прославление твоего заступничества! Избавь всех,
            с верою чуждою сомнений, к Богу приходящих от всяких бед душевных
            и телесных. от всех томлений и диавольских наветов! Будь для печальных
            утешителем, для недужных – врачом, в напастях помощником, нагим
            – покровителем, вдовам – заступником, сиротам – защитником, младенцам
            – питателем, старым – укреплением, странствующим – путеводителем,
            плавающим – кормчим, и испроси всем, в крепкой помощи твоей нуждающимся
            всё, что для спасения полезно! Чтобы твоими молитвами наставляемые
            и сохраняемые, достигли мы вечного покоя и вместе с тобою прославили Бога,
            в Троице Святой славимого, Отца и Сына и Святого Духа, ныне, и всегда
            и во веки веков. Аминь.
          </p>

        </div>

        <div class="tab__nav">

          <input class="input-layout" id="tab-btn-1" name="tab-btn" type="radio" checked value="">
          <label class="modal__table-title" for="tab-btn-1">Молитва первая</label>

          <input class="input-layout" id="tab-btn-2" name="tab-btn" type="radio" value="">
          <label class="modal__table-title" for="tab-btn-2">Молитва вторая</label>
        </div>



      </div>


      <div class="texts__btns">

        {# НОВАЯ КНОПКА #}
        <button class="modal__table-btn">
          Еще молитвы
        </button>
        {# КОНЕЦ НОВОЙ КНОПКИ #}
        <div class="texts__btns-size-box ">
          <button class="texts__btns-size top">
            <img src="assets/img/A.svg">
            <p class="texts__btns-size-text">
              увеличить
            </p>
          </button>
          <button class="texts__btns-size bottom">
            <img src="assets/img/A-.svg">
            <p class="texts__btns-size-text">
              Уменьшить
            </p>
          </button>
        </div>
      </div>

    </div>

    <div class="texts__img">
      <img src="assets/img/year.svg">
    </div>
    <div class="texts__padding"></div>

    <button class="texts__btn">
      заказать молебен
    </button>

  </div>
</section>

<div class="modal-other" id="modalOther">
  <div class="modal-other__overlay"></div>

  <div class="modal-other__container">
    <h2 class="modal-other__title">Молитвы Спиридону Тримифунтскому</h2>

    <button class="modal-other__close-btn">
      <img class="svg" src="assets/img/close.svg" alt="">
    </button>

    <ul class="modal-other__prayer-list">
      <li class="modal-other__prayer-item">О даровании детей</li>
      <li class="modal-other__prayer-item">О здоровье детей</li>
      <li class="modal-other__prayer-item">О благополучии детей</li>
      <li class="modal-other__prayer-item">Об успехах в учёбе</li>
    </ul>
  </div>
</div>

{% endblock %}