{% set title = "Главная" %}
{% set bodyClass = "is-main" %}

{% extends "html/layouts/default.html" %}

{% block content %}

<section class="banner">


  <div class="container">
    <div class="banner__box">
      <p class="banner__date">
        сегодня, 20 октября
      </p>
      <h1 class="banner__title">
        День памяти <br>
        Спиридона Тримифунтского
      </h1>
      <button class="button banner__btn">
        заказать молебен
      </button>
    </div>
  </div>
</section>

<section class="main__block first">
  <div class="container">
    <h2 class="title">
      Молитвы на каждый день
    </h2>

    <ul class="main__list">
      <li class="main__item">
        <a href="" class="main__item-link">
          <p class="main__item-title">
            Утренние <br>
            молитвы
          </p>
          <div class="main__item-img">
            <img src="assets/img/img1.jpg" alt="Утренние
            молитвы">
          </div>
        </a>
      </li>
      <li class="main__item">
        <a href="" class="main__item-link">
          <p class="main__item-title">
            Молитвы<br>
            в течение дня
          </p>
          <div class="main__item-img">
            <img src="assets/img/img2.jpg" alt="Утренние
            молитвы">
          </div>
        </a>
      </li>
      <li class="main__item">
        <a href="" class="main__item-link">
          <p class="main__item-title">
            Вечерние<br>
            молитвы
          </p>
          <div class="main__item-img">
            <img src="assets/img/img3.jpg" alt="Утренние
            молитвы">
          </div>
        </a>
      </li>
      <li class="main__item">
        <a href="" class="main__item-link">
          <p class="main__item-title">
            Чтение<br>
            Псалтири
          </p>
          <div class="main__item-img">
            <img src="assets/img/img4.jpg" alt="Утренние
            молитвы">
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>


<section class="main__block">
  <div class="container-flex">

    <div class="swiper swiper-main-big">
      <h2 class="title">
        Молитвы в различных нуждах
      </h2>

      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="swiper-slide-box">
            <a href="" class="main__item-link">
              <p class="main__item-title">
                Молитвы <br>
                о здоровье
              </p>
              <div class="main__item-img ">
                <img src="assets/img/img5.jpg" alt="Утренние
              молитвы">
              </div>
            </a>

            <a href="" class="main__item-link">
              <p class="main__item-title">
                Молитвы <br>
                о семье
              </p>
              <div class="main__item-img">
                <img src="assets/img/img6.jpg" alt="Утренние
              молитвы">
              </div>
            </a>
          </div>
        </div>

        <div class="swiper-slide">
          <a href="" class="main__item-link main__item-link--big">
            <p class="main__item-title">
              Молитвы <br>
              о детях
            </p>
            <div class="main__item-img">
              <img src="assets/img/img7.jpg" alt="Утренние
              молитвы">
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="" class="main__item-link">
            <p class="main__item-title">
              Утренние <br>
              молитвы
            </p>
            <div class="main__item-img">
              <img src="assets/img/img1.jpg" alt="Утренние
              молитвы">
            </div>
          </a>
        </div>

      </div>

      <div class="swiper-main-big__swiper-button-prev swiper-button-prev"></div>
      <div class="swiper-main-big__swiper-button-next swiper-button-next"></div>

    </div>
  </div>


</section>



<section class="main__block main__block--color">
  <div class="container-flex">
    <div class="swiper swiper-main-saintly">
      <h2 class="title">
        Молитвенная помощь святых
      </h2>

      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <a href="" class="main__item-link">
            <p class="main__item-title">
              Ко Господу <br><br>
            </p>
            <div class="main__item-img ">
              <img src="assets/img/img8.jpg" alt="Утренние
              молитвы">
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="" class="main__item-link">
            <p class="main__item-title">
              Пресвятой <br>
              Богородице
            </p>
            <div class="main__item-img">
              <img src="assets/img/img9.jpg" alt="Утренние
              молитвы">
            </div>
          </a>
        </div>


        <div class="swiper-slide">
          <a href="" class="main__item-link">
            <p class="main__item-title">
              Ангелу <br>
              Хранителю
            </p>
            <div class="main__item-img">
              <img src="assets/img/img10.jpg" alt="Утренние
              молитвы">
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="" class="main__item-link">
            <p class="main__item-title">
              Спиридону<br>
              Тримифунтскому
            </p>
            <div class="main__item-img">
              <img src="assets/img/img11.jpg" alt="Утренние
              молитвы">
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="" class="main__item-link">
            <p class="main__item-title">
              Спиридону<br>
              Тримифунтскому
            </p>
            <div class="main__item-img">
              <img src="assets/img/img11.jpg" alt="Утренние
              молитвы">
            </div>
          </a>
        </div>

      </div>

      <div class="swiper-main-saintly__swiper-button-next swiper-button-prev"></div>
      <div class="swiper-main-saintly__swiper-button-prev swiper-button-next"></div>

    </div>
  </div>
</section>


<section class="main__text-block main__block--color">
  <div class="container">
    <div class="main__text-block-wrapper">
      <p class="main__text-block-text">
        К созданию проекта “Магия и Вера” нас подтолкнуло
        изучение поисковых запросов пользователей сети.<br>
        К нашему удивлению интерес к колдовству, гаданию,
        эзотерике в разы превышает поиск информации
        о традиционных религиях. Более четверти россиян
        сталкивались в своей жизни с колдовством или
        магическими ритуалами. Однако, многие до конца
        не понимают, насколько высокой может быть цена
        увлечения магией и даже полагают, что магия <br>
        и религия - это равнозначные понятия. Так ли это?
      </p>
    </div>
  </div>

</section>


{% endblock %}