{% set title = "Главная" %}
{% set bodyClass = "is-main" %}

{% extends "html/layouts/default.html" %}

{% block content %}



<section class="main__block first needs">
  <div class="container">
    <h2 class="title">
      Молитвы в различных нуждах
    </h2>

    <ul class="main__list">
      <li class="main__item">
        <a href="" class="main__item-link">
          <p class="main__item-title">
            Утренние <br>
            молитвы
          </p>
          <div class="main__item-img">
            <img src="assets/img/img1.jpg" alt="Утренние
            молитвы">
          </div>
        </a>
      </li>
      <li class="main__item">
        <a href="" class="main__item-link">
          <p class="main__item-title">
            Молитвы<br>
            в течение дня
          </p>
          <div class="main__item-img">
            <img src="assets/img/img2.jpg" alt="Утренние
            молитвы">
          </div>
        </a>
      </li>
      <li class="main__item">
        <a href="" class="main__item-link">
          <p class="main__item-title">
            Вечерние<br>
            молитвы
          </p>
          <div class="main__item-img">
            <img src="assets/img/img3.jpg" alt="Утренние
            молитвы">
          </div>
        </a>
      </li>
      <li class="main__item">
        <a href="" class="main__item-link">
          <p class="main__item-title">
            Чтение<br>
            Псалтири
          </p>
          <div class="main__item-img">
            <img src="assets/img/img4.jpg" alt="Утренние
            молитвы">
          </div>
        </a>
      </li>
      <li class="main__item">
        <a href="" class="main__item-link">
          <p class="main__item-title">
            Утренние <br>
            молитвы
          </p>
          <div class="main__item-img">
            <img src="assets/img/img1.jpg" alt="Утренние
            молитвы">
          </div>
        </a>
      </li>
      <li class="main__item">
        <a href="" class="main__item-link">
          <p class="main__item-title">
            Молитвы<br>
            в течение дня
          </p>
          <div class="main__item-img">
            <img src="assets/img/img2.jpg" alt="Утренние
            молитвы">
          </div>
        </a>
      </li>
      <li class="main__item">
        <a href="" class="main__item-link">
          <p class="main__item-title">
            Вечерние<br>
            молитвы
          </p>
          <div class="main__item-img">
            <img src="assets/img/img3.jpg" alt="Утренние
            молитвы">
          </div>
        </a>
      </li>
      <li class="main__item">
        <a href="" class="main__item-link">
          <p class="main__item-title">
            Чтение<br>
            Псалтири
          </p>
          <div class="main__item-img">
            <img src="assets/img/img4.jpg" alt="Утренние
            молитвы">
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>




{% endblock %}