{% set title = "Ссылки" %}
{% set bodyClass = "link" %}

{% extends "html/layouts/default.html" %}

{% block content %}


<ul style="padding-top: 150px;" class="index-nav container">
  <li>
    <a href="index1.html">Главная - index-1</a>
  </li>
  <li>
    <a href="index2.html">Праздники - index-2</a>
  </li>
  <li>
    <a href="index3.html">Молитвы к святым  - index-3</a>
  </li>
  <li>
    <a href="index4.html">Молитвы в различных нуждах  - index-4</a>
  </li>
  <li>
    <a href="index5.html">Молитвы в различных нуждах (внутри)  - index-5</a>
  </li>
  <li>
    <a href="index6.html">о проекте  - index-6</a>
  </li>
  <li>
    <a href="index7.html">молитвы к святым лист  - index-7</a>
  </li>
  <li>
    <a href="index8.html">Молитвы на каждый день  - index-8</a>
  </li>
  <li>
    <a href="index9.html">Профиль  - index-9</a>
  </li>
  <li>
    <a href="index10.html">Модалки  - index-10</a>
  </li>
  <li>
    <a href="index11.html">Модалка2  - index-11</a>
  </li>
  <li>
    <a href="index12.html">Модалка3  - index-12</a>
  </li>
  
</ul>

{% endblock %}