{% set title = "Главная" %}
{% set bodyClass = "is-main" %}

{% extends "html/layouts/default.html" %}

{% block content %}

<section class="about-page main__block">
  <div class="container">
    <div class="about-page__box">
    <h2 class="title">
      О проекте
    </h2>

    <div class="about-page__text-box">
      <p class="about-page__text">
        Целью проекта “Магия и Вера” является предостережение каждого
        думающего человека от увлечения магией. В сегодняшнем информационном
        потоке порой трудно отличить правду от лжи.
        Стираются грани, смешиваются понятия: и вот уже черное становится белым.
      </p>
      <p class="about-page__text">
        К созданию проекта “Магия и Вера” нас подтолкнуло изучение поисковых
        запросов пользователей сети. К нашему удивлению интерес к колдовству,
        гаданию, эзотерике в разы превышает поиск информации о традиционных
        религиях.
      </p>
      <p class="about-page__text">
        Более четверти россиян сталкивались в своей жизни с колдовством
        или магическими ритуалами. Однако, многие до конца не понимают, насколько
        высокой может быть цена увлечения магией и даже полагают, что магия
        и религия - это равнозначные понятия. Так ли это?
        И чем опасна магия?
      </p>
    </div>
  </div>
</section>

{% endblock %}