.header
  padding-top: 20px
  padding-bottom: 20px
  &__box
    display: grid
    grid-auto-flow: column
    align-items: end
  &__nav
    display: grid
    grid-auto-flow: column
    gap: 68px
    justify-items: center
    justify-content: end
  &__nav-link
    display: grid
    gap: 8px
    justify-items: center
    cursor: pointer
    text-decoration: none
  &__nav-title
    color: #5E6B67
    text-align: center
    font-family: $OS
    font-size: 11px
    font-weight: 400
