.every-day
	@media all and ($xs)
		padding-top: 20px
	.container
		position: relative
	&__box
		padding-top: 25px
		position: relative
	&__mobile-btn
		display: none
		width: 100%
		border-radius: 17px
		background: #D8DCBF
		padding: 4px
		font-family: $Ph
		font-size: 21px
		font-weight: 400
		line-height: 30px
		letter-spacing: -0.03em
		color: #7F845F
		img
			transition: transform $anim
			&.active img
				transform: rotate(-180deg)
		@media all and ($xs)
			display: block
	&__mobile-btn-box
		position: absolute
		width: 100%
		padding: 30px 40px
		background: #D8DCBF
		border-radius: 30px 30px 40px 40px
		margin-top: 20px

	.modal__table-title
		padding: 4px 25px
		&:last-of-type
			margin-right: 0
	.tab__nav
		justify-content: space-between
		@media all and ($mobile)
			justify-content: flex-start
		@media all and ($xs)
			display: none
	.tab__content
		margin-top: 30px
	&__tab-title
		font-family: $Ph
		font-size: 36px
		font-weight: 700
		line-height: 30px
		letter-spacing: -0.03em
		color: #7F845F
		text-align: center
		@media all and ($xs)
			display: none
	&__tab-text-box
		display: grid
		gap: 33px
		max-width: 550px
	&__tab-item-title
		font-family: $TNR
		font-size: 24px
		font-weight: 700
		line-height: 33px
		letter-spacing: -0.03em
		text-transform: uppercase
		color: #7F845F
		margin-bottom: 5px
	&__tab-item-text
		font-family: $TNR
		font-size: 18px
		font-weight: 400
		line-height: 33px
		letter-spacing: -0.03em
		color: #515961
		&.italic
			font-size: 21px
			font-weight: 700
	&__tab-decoration
		margin-top: 40px
		margin-bottom: 60px
		display: grid
		justify-content: center
	&__content-box
		display: grid
		grid-auto-flow: column
		gap: 10px
	.texts__btns
		position: fixed
		display: grid
		width: 100%
		max-width: inherit
		justify-content: end
		justify-items: end
		margin-top: 125px
		padding-right: 50px
		@media all and ($mobile)
			display: none
