.needs, .saint
  .main__list
    gap: 43px
    padding-left: 50px
    padding-right: 50px
    grid-template-columns: repeat(3, 1fr)
    @media all and ($mobile)
      grid-template-columns: repeat(2, 1fr)
      gap: 20px
      padding-left: 0
      padding-right: 0
  // .main__item-img img
  //   @media all and ($xs)
  //     height: 120px

.needs
  .main__item:nth-of-type(4n+3), .main__item:nth-of-type(4n)
    @media all and ($xs)
      grid-column: 1/3
      .main__item-img img
        // max-width: 280px
        width: 100%
.texts
  padding-top: 40px
  display: grid
  &__box
    position: relative
  .title
    padding-left: 25px
    font-size: 30px
    font-weight: 700
    line-height: 30px
    letter-spacing: 0
    text-transform: none
  &__mobile-btn
    display: none
    width: 100%
    border-radius: 17px
    background: #D8DCBF
    padding: 4px
    font-family: $Ph
    font-size: 21px
    font-weight: 400
    line-height: 30px
    letter-spacing: -0.03em
    color: #7F845F
    img
      transition: transform $anim
      &.active img
        transform: rotate(-180deg)
    @media all and ($xs)
      display: block
  &__mobile-btn-box
    position: absolute
    width: 100%
    padding: 30px 40px
    background: #D8DCBF
    border-radius: 30px 30px 40px 40px
    margin-top: 80px

.about-page
  &__text-box
    display: grid
    gap: 25px
    padding-top: 26px
    max-width: 614px
  &__text
    color: rgb(65, 78, 89)
    font-family: $TNR
    font-size: 18px
    font-weight: 400
    line-height: 24px

.is-main-saint
  .main__list
    padding-top: 52px
    @media all and ($mobile)
      justify-content: center
      justify-items: center
  .main__item-img
    @media all and ($mobile)
      width: fit-content
  .main__item-img img
    @media all and ($xs)
      height: 156px
      width: fit-content
  .main__item-link
    @media all and ($xs)
      &:hover .main__item-img img, &:focus .main__item-img img, &:active .main__item-img img
        height: 156px
